[build]
  command = "npm install && cd packages/core-domain && npx -p typescript tsc && cd ../database && npx prisma generate && cd ../../apps/api && npx @nestjs/cli build"
  functions = "netlify/functions"
  ignore = "git diff --quiet HEAD^ HEAD ."

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[functions]
  node_bundler = "esbuild"
  included_files = [
    "apps/api/dist/**",
    "packages/**"
  ]
